# Mac
.DS_Store
# Log
*.log

# Java
*.class
*/bin/*
*/target/*
!*/target/README

# Vim
*.swp

# Eclipse
.project
.settings
*.classpath

# Angular vendor
*/vendor/*
!*/vendor/README

# Node
node_modules
dist
# git
**/.gitignore

.dbeaver-data-sources\.xml

aprendiz-ws/src/main/resources/rebel\.xml

sne-ws/src/main/resources/rebel\.xml

sne-shared-modules/dist-lib/

lib-ws/src/main/resources/rebel\.xml

iel-auth/auth\.mv\.db

aprendiz-ws/aprendiz\.mv\.db

aprendiz-ws/src/main/resources/rebel\.xml

aprendiz-ws/aprendiz\.mv\.db

lib-ws/src/main/resources/rebel\.xml

aprendiz-web/src/environments/environment.ts


iel-auth/auth\.mv\.db
# Mac
.DS_Store

# Java
*.class
*/bin/*
*/target/*
!*/target/README

# Vim
*.swp

# Eclipse
.project
.settings
*.classpath

# Angular vendor
*/vendor/*
!*/vendor/README

# Node
node_modules
dist
# git
**/.gitignore

aprendiz-ws/src/main/resources/rebel\.xml

sne-ws/src/main/resources/rebel\.xml

aprendiz-web/dist/

lib-ws/src/main/resources/rebel\.xml

aprendiz-ws/src/main/resources/aprendiz.properties


iel-auth/auth\.mv\.db

aprendiz-web/.vscode/last.sql

aprendiz-web/package-lock\.json

Scripts/

sne-empresa-web/package-lock\.json
/.metadata/

sne-aluno-web/package-lock.json

sne-aluno-web/dist-lib/
/bin/
/backend/dist/

